### Python Conditionals

### Q 1

In [4]:
number = int(input("enter the any integer number"))

if number >17:
    value = number - 17
    final = 2*value
    print(final)

else:
    print(number)

enter the any integer number27
20

### Q 2

In [7]:
year = int(input("enter the year "))

if ((year%4==0 and year%100 !=0) or (year%400 == 0)):
    print("Leap Year :", year)
else:
    print("Not leap year",year)

enter the year 2000
Leap Year : 2000

### Q 3

In [17]:
n1 = int(input("enter the first number :"))
n2 = int(input("enter the second number :"))
n3 = int(input("enter the third number :"))

if ((n1!=n2) and (n2!=n3) and (n3!=n1)):
    print(n1+n2+n3)
else:
    print("0")

enter the first number :2
enter the second number :3
enter the third number :4
9

### Q 4

In [19]:
print("months: January, February, March, April, May, June, July, August, September, October, November, December")
month_name = input("Input the name of Month: ")

if month_name == "February":
    print("No. of days: 28/29 days")
elif month_name in ("April", "June", "September", "November"):
    print("No. of days: 30 days")
elif month_name in ("January", "March", "May", "July", "August", "October", "December"):
    print("No. of days: 31 day")
else:
    print("Wrong month name")

months: January, February, March, April, May, June, July, August, September, October, November, December
Input the name of Month: March
No. of days: 31 day

### Q 5.

In [24]:
s1 = int(input("enter the first side"))
s2 = int(input("enter the second side"))
s3 = int(input("enter the third side"))

if s1+s2+s3 == 180:
    if (s1==s2 and s2==s3 and s3==s1):
        print(" equilateral triangle")
    elif (s1 ==s2 or s2 ==s3 or s3==s1):
        print("isosceles triangle")
    else:
        print("triangle")
        
else:
    print("not triangle")

enter the first side50
enter the second side40
enter the third side90
triangle