### Python Lists

### Q1

In [36]:
lst = [8,2,3,4,85,5,86,7,1,9,3]
minm =lst[0]
for i in lst:
    if minm >=i:
        minm = i
    else:
        pass
print(minm)

1

### Q 2

In [37]:
lst=[1,2,3,3+4j,'a','ATPLC',True,0,4.575]
count = 0
for i in lst:
    if type(i)==int or type(i)==str or type(i)==bool or type(i)==float or type(i)==complex:
        count = count +1
    else:
        pass
    
if count ==0:
    print("list is empty")
else:
    print("list is not empty")

list is not empty

In [38]:
lst=[]
count = 0
for i in lst:
    if type(i)==int or type(i)==str or type(i)==bool or type(i)==float or type(i)==complex:
        count = count +1
    else:
        pass
    
if count ==0:
    print("list is empty")
else:
    print("list is not empty")

list is empty

### Q 3.

In [39]:
def lst(lst1,lst2):
    for i in lst1:
        for j in lst2:
            if(i==j):
                return ("True")
            

                
lst1 = [3,5,4,2,1]
lst2 = [7,9,98,45,76,4]
lst(lst1,lst2)

'True'

### Q 4.

In [40]:
lst1 = [1,2,3,4]
lst2 = [5,8,12,45]
for i in lst2:
    lst1.append(i)

lst1

[1, 2, 3, 4, 5, 8, 12, 45]

### Q 5.

In [41]:
lst = []
lst1 = [1,2,3,4,5,6,7,8,9]
for i in range(len(lst1)):
    if i not in ([0,4,5]):
        lst.append(lst1[i])
        
print(lst)

[2, 3, 4, 7, 8, 9]

### Q 6.

In [35]:
lst=[]
for i in range(10):
    lst.append(int(input("enter the integer value : ")))

lst1 =[]
lst.reverse()
lst1.append(lst)
print(lst1)

enter the integer value : 1
enter the integer value : 2
enter the integer value : 3
enter the integer value : 4
enter the integer value : 5
enter the integer value : 6
enter the integer value : 7
enter the integer value : 8
enter the integer value : 9
enter the integer value : 13
[[13, 9, 8, 7, 6, 5, 4, 3, 2, 1]]